<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carder</title>
  <script>
  window.query = <%- JSON.stringify(query) %>;
  </script>
</head>
<body>
<div class="card">
</div>
<script src="/javascripts/slide.js"></script>
<script src="/javascripts/render.js"></script>
<script>
//  var slide = new Slide('slideList','slideCard','before','after','content',150);
//  slide.autoSlide();
</script>
</body>
</html>