<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cardify</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div id="app"></div>

  <script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>  
  <script src="//cdn.jsdelivr.net/react/0.13.3/react.min.js"></script>
  <script src="/javascripts/index.js"></script>
</body>
</html>