<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carder-Overlay</title>
    <link rel="stylesheet" href="/stylesheets/overlay.css"/>
</head>

<body>

<div class="card">
    <div class="card-overlay">
        <div class = "card-price iconfont">$129,00</div>
        <h3 class = "card-title">T'shirt by Adidas</h3>
        <p class = "card-detail iconfont">It's very unique and worth buying for your boyfriend or husband</p>
    </div>
</div>

</body>
</html>