<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carder-Overlay</title>
    <link rel="stylesheet" href="/stylesheets/overlay.css"/>
</head>

<body>

<div class="card">
    <div class="card-overlay">
        <div class = "card-price iconfont">$129,00</div>
        <h3 class = "card-title"><%=title%></h3>
        <p class = "card-detail iconfont"><%=paragraph%></p>
    </div>
</div>

</body>
</html>