html,body{
    padding:0;
    margin:0;
}
.card {
    margin: auto;
    width: 280px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 2px #eaeaea;
    font-family: 'Helvetica', Arial, sans-serif;
    overflow: hidden;
}
.card-gallery{
    height:340px;
}
.card-gallery,
.card-image-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.card-image {
    width: 100%;
    height: auto;
    float: left;
}
.card-content {
    padding: 10px;
}
.card-description {
    color: #9a9a9a;
    font-size: .9rem;
    margin-bottom: 10px;
}
.card-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.card-price {
    font-size: .9rem;
}
.card-price-inner {
    font-weight: bold;
}
.card .slick-prev,
.card .slick-next {
    position: absolute;
    top: 50%;
    margin-top: -1.2rem;
    background: none;
    outline: none;
    border: none;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    color: #e8e8e8;
    transform: scaleX(0.7) scaleY(1.2);
}
.card .slick-prev:hover,
.card .slick-next:hover {
    color: #828282;
}
.card .slick-prev:before,
.card .slick-next:before {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
}
.card .slick-prev {
    left: 10px;
    transform-origin: 0 0;
}
.card .slick-prev:before {
    content: '\25C0';
}
.card .slick-next {
    right: 10px;
    transform-origin: 100% 0;
}
.card .slick-next:before {
    content: '\25B6';
}
#slideList{
    position: relative;
}
.slideCard{
    position: absolute;
    top:0;
    left: 100%;
}